
<h1 id="pageTitle"><%= event.name %></h1>

<div class="row">
    <img id="eventimage" class="col-8 offset-2" src="<%= event.imageSRC %>" alt="<%= event.name %>">
</div>

<div class="col-6 offset-3">
  <p id="eventshowdeets">
    <%= event.location %><br>
    <%= event.postcode %><br>
    <%= event.date %><br>
    <%= event.description %><br>
  </p>
</div>

<% if(locals.isLoggedIn) { %>
  <section class="col-6 offset-3">
    <form method="POST" action="/events/<%= event.id %>/attendees">
    <button id="createButton" class="btn btn-success">Attend</button>
  </form>
  </section>
  <% } %>

<div id="attendees" class="col-6 offset-3">
  <p id="subheading">Attendees</p>
  <% event.attendees.forEach((attendee) => { %>
    <p><%= attendee.fullName %></p>
  <% }) %>
</div>

<section id="location">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <p id="subheading">Location</p>
        <div id="map" data-lat="<%= event.lat %>" data-lng="<%= event.lng %>"></div>
      </div>
    </div>
</section>

<% if(locals.isLoggedIn) { %>
  <section class="col-6 offset-3">
    <p  id="subheading">Leave comment</p>

    <form  method="POST" action="/events/<%= event.id %>/comments">

    <textarea class="col-6 offset-3" name="content" id="content" placeholder="Comment"></textarea>
    <button id="createButton" class="btn btn-success">Leave a comment</button>

  </form>
  </section>
  <% } %>
  <section>
    <p id="subheading">Comments</p>

    <% event.comments.forEach((comment) => { %>
      <p id="comment" class="col-6 offset-3"><%= comment.content %></p>
      <p id="comment"><%=`Posted by ${comment.createdBy.username}` %></p>

      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/events/<%= event.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button id="createButton" class="col-6 offset-3 btn btn-danger" >Delete comment</button>
        </form>
        <%  } %>
        <% }) %>
      </section>


      <p id="corpinfo"><%= `Created by ${event.createdBy.username}` %></p>

      <% if(locals.isLoggedIn && event.belongsTo(user)) { %>
        <button id="createButton" class="col-6 offset-3 btn-primary"><a href="/events/<%= event.id %>/edit">Edit</a><button>

        <form method="POST" action="/events/<%= event.id %>">
        <input type="hidden" name="_method" value="DELETE">

        <button id="createButton" class=" col-6 offset-3 btn btn-danger">Delete event</button>
        </form>
        <% } %>

      </div>

    </body>
