<h1 id="pageTitle">User profile</h1>

<h2 id="profileName"><%= user.username %></h2>

<div class="row">
  <img id="profilephoto" class="col-6 offset-3" src="<%= user.imageSRC %>" alt="<%= user.username %>">
</div>


<div id="formfield" class="col-6 offset-3">
  <p class="userinfo"><%= user.firstName %></p>
</div>

<div id="formfield" class="col-6 offset-3">
  <p class="userinfo"><%= user.lastName %></p>
</div>

<div id="formfield" class="col-6 offset-3">
  <p class="userinfo"><%= user.email %></p>
</div>

<div id="formfield" class="col-6 offset-3">
  <button id="createButton" class="btn-primary"><a href="/profile/edit" class="button">Edit</a></button>
</div>

<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <div id="formfield" class="col-6 offset-3">
  <button id="createButton" class="btn-primary">Delete</button>
</div>

</form>
